.chat {
  position: fixed;
  bottom: 5rem;
  right: 2.5rem;
  width: 3rem;
  transition: all 0.3s;
  cursor: pointer;
  animation: transform 2s infinite;
}

.chat:hover {
  transform: scale(1.2);
}

@keyframes transform {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 991.98px) {
  .chat {
    right: 0.75rem;
  }
}
