.quantity-product {
  border: 1px solid gray;
  padding: 0 0.5rem;
}

.control {
  display: flex;
}

.btn-left,
.btn-right,
.input {
  border: none;
  border-radius: 0;
  box-shadow: unset;
  outline: none;
  background-color: unset;
}

.input {
  width: 2.5rem;
  text-align: center;
}

.btn-left,
.btn-right {
  padding: 0 0.75rem;
  font-size: 1.125rem;
}

.btn-left:active i,
.btn-right:active i {
  border: none;
  color: red !important;
  border-radius: 0;
  box-shadow: unset;
}
